/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-page: url(../images/cover-image-light.png);
  --main-title-color: rgba(255, 194, 230, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --section-bg-color: rgba(255, 241, 247);
  --text-color: rgba(53, 52, 48, 1);
  --corner-color: rgba(53, 52, 48, 1);
  --header-menu-color: rgba(53, 52, 48, 1);
  --header-menu-hover: rgba(53, 52, 48, 0.4);
  --title-color: rgba(53, 52, 48, 1);
  --link-effects-color: rgba(255, 141, 203, 1);
  --section-title-color: rgba(53, 52, 48, 1);
  --display-rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-page: url(../images/cover-image-light.png);
    --main-title-color: rgba(255, 194, 230, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --section-bg-color: rgba(255, 241, 247, 1);
    --text-color: rgba(53, 52, 48, 1);
    --corner-color: rgba(53, 52, 48, 1);
    --header-menu-color: rgba(53, 52, 48, 1);
    --header-menu-hover: rgba(53, 52, 48, 0.4);
    --title-color: rgba(53, 52, 48, 1);
    --link-effects-color: rgba(255, 141, 203, 1);
    --section-title-color: rgba(53, 52, 48, 1);
    --bg-color-page: rgba(255, 241, 247, 1);
    --display-rec: none;
  }
}
